.container{
    width: 100%;
    margin: auto;
    padding-top: 1rem;   
}
.herotext {
    width: 90%;
    margin: auto; 
    align-items: center; 
}
.heading{
    text-align: left;
    margin-top: 10rem;   
}

.heading h1 {
color: var(--white, #FFF);
font-family: Lato;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: normal;

}
.heading h4{
    color: var(--white, #FFF);
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

@media(max-width:1024px) {
    .container{
        width: 100%;
        margin: auto;
        padding-top: 1rem;   
    }
    .herotext {
        width: 80%;
        margin: auto;
    }
    /* .heading{
        text-align: left;
        margin-top: 21rem;   
    } */
    .heading h1 {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 1.5rem;
    
    }
    .heading h4{
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
}
@media(max-width:768px) {
    .container{
        width: 100%;
        margin: auto;
        padding-top: 1rem;   
    }
    
    .herotext {
        width: 80%;
        margin: auto;  
    }
    .heading{
        margin-top: 12rem;   
    }

    .heading h1 {
    color: var(--white, #FFF);
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: .5rem;
    
    }
    .heading h4{
        color: var(--white, #FFF);
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
@media(max-width:480px) {

    .container{
        width: 100%;
        margin: auto;
        padding-top: 1rem;   
    }
    .herotext {
        width: 80%;
        margin: auto;  
    }
    .heading{
        margin-top: 12rem;   
    }

    .heading h1 {
    font-size: 40px;    
    }
    .heading h4{
        font-size: 16px;
    }
}